<div class="row" *ngIf="member">
    <div class="col-3" style="height: 60px;">
        <h4 style="text-align: center;">Your Profile</h4>
    </div>
     <div class="col-8" style="height: 60px;">
        <div class="alert alert-info" *ngIf="editForm.dirty" style="height: 45px; margin-top: -16px;">
            <div style="margin-top: -10px;"><strong>Information : </strong>Your changes will be saved. </div>
        </div>        
    </div>
    <div class="col-3">
        <div class="card">
            <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}"
                class="card-img-top img-thumbnail">
            <div class="card-body">
                <div>
                    <strong>Location:</strong>
                    <p>{{member.city}},{{member.country}}</p>
                </div>
                <div>
                    <strong>Age:</strong>
                    <p>{{member.age}}</p>
                </div>
                <div>
                    <strong>Last Active:</strong>
                    <p>{{member.lastActive| timeago }}</p>
                </div>
                <div>
                    <strong>Member Since:</strong>
                    <p>{{member.created | date}}</p>
                </div>
            </div>
            <div class="card-footer">
                <button [disabled]="!editForm.dirty" form="editForm" class="btn-success btn-block">Save Changes</button>
            </div>
        </div>
    </div>
    <div class="col-8">
        <tabset class="member-tabset">
            <tab heading='About {{member.knownAs}}'>
                <br />
                <form #editForm="ngForm" id="editForm" (ngSubmit)="updateMember()">
                    <h4>Description</h4>
                    <textarea class="form-control" [(ngModel)]="member.introduction" name="introduction" rows="3"></textarea>
                    <h4 class="mt-2">Looking for</h4>
                    <textarea class="form-control" [(ngModel)]="member.lookingFor"  name="lookingFor" rows="3"></textarea>
                    <h4 class="mt-2">Interests</h4>
                    <textarea class="form-control" [(ngModel)]="member.interests" name="interests" rows="3"></textarea>

                    <h4 class="mt-2"> Location Details</h4>
                    <div class="form-inline">
                        <br/>
                        <label for="city">City:</label>
                        <input  [(ngModel)]="member.city" type="text" name="city" class="form-control mx-2">
                        <label for="Country">Country:</label>
                        <input  [(ngModel)]="member.country" type="text" name="country" class="form-control mx-2">
                    </div>
                </form>
            </tab>
            <tab heading='Edit Photo'>
                <br />
                <app-photo-edit [member]="member"></app-photo-edit>
            </tab>
        </tabset>
    </div>
</div>