<div class="text-center mt-3">
    <h2>Your Matches -{{this.pagination?.totalItems}} found</h2>
</div>

<div class="container mt-3" style="margin-left: 80px;">
    <form #form='ngForm' class="form-inline mb-3" (ngSubmit)="this.loadMembers()" autocomplete="off">
        <div class="form-group">
            <label>Age From: </label>
            <input type="number" class="form-control ml-1" style="width: 95px;" name="minAge"
                [(ngModel)]="this.userParams.minAge">
        </div>

        <div class="form-group ml-2">
            <label>Age To: </label>
            <input type="number" class="form-control ml-1" style="width: 95px;" name="maxAge"
                [(ngModel)]="this.userParams.maxAge">
        </div>

        <div class="form-group px-2">
            <label>Show:</label>
            <select name="gender" style="width: 160px;" [(ngModel)]="this.userParams.gender" class="form-select ml-1">
                <option *ngFor="let gender of this.genderList" [value]="gender.value">
                    {{gender.display}}
                </option>
            </select>
        </div>

        <button class="btn btn-primary ml-1" type="submit">Apply Filters</button>
        <button (click)="this.resetFilters()" class="btn btn-info ml-1" type="submit">Reset Filters</button>

        <div class="col">
            <div class="btn-group float-right">
                <button class="btn btn-info" type="button" name="orderBy" 
                    (click)="this.loadMembers()"
                    btnRadio="lastActive"
                    [(ngModel)]="this.userParams.orderBy">Last Active</button>

                    <button class="btn btn-info" type="button" name="orderBy" 
                    (click)="this.loadMembers()"
                    btnRadio="created"
                    [(ngModel)]="this.userParams.orderBy">Newest</button>
            </div>
        </div>
       

    </form>
</div>



<div class="row" style="margin-left: 80px;">
    <!-- <div *ngFor="let member of members$ | async" class="col-2"> -->
    <div *ngFor="let member of members" class="col-2">
        <app-member-cards [member]="member"></app-member-cards>
    </div>
</div>

<div class="d-flex justify-content-center" *ngIf="this.pagination">
    <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems"
        [itemsPerPage]="this.pagination.itemsPerPage" [(ngModel)]="pagination.currentPage"
        (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
        lastText="&raquo;">
    </pagination>
</div>