.card {
    border: none;
}

.card-body{
    padding-bottom: 5px;
    padding-top: 5px;
    max-height: 465px;
    overflow-y: auto;
}

.chat{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #b3a9a9;
}

.rounded-circle {
    max-height: 40px;
}

.card-footer {
    background: #e83283;
} 